{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
	<hr class="my-3">
	{% for post in posts %}
		{# it will look for tease-events.twig, and then go to tease.twig #}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		<hr class="my-3">
	{% endfor %}

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

	<div
		class="debug p-8 bg-debug">
		{# useful for debugging, delete later #}
		<h1>Debug info</h1>

		<p>file name: archive-events.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>

{% endblock %}
