{# TEMPLATE: ARCHIVE.twig #}

{% extends "index.twig" %}

{% block content %}
	<div class="mx-3">
		<hr class="my-3">
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			<hr class="my-3">
		{% endfor %}

		{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	</div>
	<div
		class="debug p-8 bg-debug hidden">
		{# useful for debugging, delete later #}
		<h1>Debug info</h1>

		<p class="pb-4">post name:
			{{post.name}}</p>

		<p>file name: archive.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>
{% endblock %}
