{# TEMPLATE: footer.twig #}
<<<<<<< Updated upstream

<p class="bg-debug hidden">Produced by students in the Faculty of Arts and Design. </p>
<p class="bg-debug hidden">University of Canberra, 2024.</p>
<p class="bg-debug hidden">In partnership with Canberra Modern.</p>
=======
<div class="mt-10 border-t border-black">
<p class="mt-5">Produced by students in the Faculty of Arts and Design. </p>
<p class="mt-2">University of Canberra, 2024.</p>
<p class="mt-2">In partnership with Canberra Modern.</p>
</div>
>>>>>>> Stashed changes
