{# TEMPLATE: footer.twig #}
<div class="mt-10 mx-3 border-t border-black">
    <p class="mt-5">Produced by students in the Faculty of Arts and Design. </p>
    <p class="mt-2">University of Canberra, 2024.</p>
    <p class="mt-2">In partnership with Canberra Modern.</p>
</div>
