{# TEMPLATE: footer.twig #}
<div class="mt-10 mb-10 max-w-3xl">
<p class="bg-debug">Produced by students in the Faculty of Arts and Design. </p>
<p class="bg-debug">University of Canberra, 2024.</p>
<p class="bg-debug">In partnership with Canberra Modern.</p>
</div>