{# TEMPLATE: footer.twig #}

<p class="bg-debug hidden">Produced by students in the Faculty of Arts and Design. </p>
<p class="bg-debug hidden">University of Canberra, 2024.</p>
<p class="bg-debug hidden">In partnership with Canberra Modern.</p>
