{# MENU COMES FROM menu.twig #}
{# Menu Items#}

{% if menu %}
	<ul class="first:flex first:place-content-around *:even:invisible li:a:visible text-center pt-1 pb-1">
		{% for item in items %}
			<li class="{{ item.classes | join(' ') }} group">
				<a class="group-hover:visible hover:border-b border-gray-900" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% include "menu.twig" with {'items': item.children} %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
