{% extends "tease.twig" %}

{% block content %}
	<h2 class="font-bold" href="{{post.link}}">{{ post.title }}	</h2>
	<div>{{ post.excerpt({ words:15, read_more: "<div><span class='hover:underline'>Keep reading &rarr;</span></div>" }) }}</div>
	{% if post.thumbnail.src %}
		<img src="{{ post.thumbnail.src }}"/>
	{% endif %}
{% endblock %}
